@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body{
  background-color: #F3E5F5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bookContainer{
  height:80vh;
  width:95%;
  margin:auto;
 
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}

.bookContainer aside{
  width:42.5%;
  background:#F0F0F0;
  border-radius:20px;
  boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding:20px 30px;
  flex-grow:1;
  margin:20px 10px;
}

.bookContainer aside p{
  line-height:21px;
}

.floating-toolbar{
  background:#ffd9d9;
}

.floating-toolbar-close{
  background:#ffd9d9;

}

.modal-content-reed{
  background:#daa4a4;

}

.btn-submit-reed{
  background:#000;
}
.hover-card{
  background:#f2dfce;

}

.center{
  text-align:center;
  font-size:36px;
  font-weight:300;
  margin-bottom:4px;
}

.small{
  font-size:16px;
  text-align:center;
display:block;
margin-bottom:40px;
}