.main{
  width: 95%;
  margin: auto;
}
.containerStyle{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content{
  width: 30%;
}
.grouper{
  background-color: azure;
  margin: 0 30px;
  padding: 10px 1px;
  border-radius: 20px;
}
.title{
  padding-left: 40px;
}